<%- include('header') %>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Category Form</h4>
                                    <p class="card-description">
                                        <%= flash.success %>
                                    </p>
                                    <p class="card-description">
                                        <%= flash.error %>
                                    </p>
                                    <form class="forms-sample" action="/addCategory/insertCategory" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="exampleInputName1">Category Name</label>
                                            <input type="text" class="form-control" name='categoryName' id="exampleInputName1"
                                                placeholder="Category Name">
                                        </div>
                                        <div class="form-group">
                                            <label>File upload</label>
                                            <input type="file" name="categoryImage" >
                                           
                                        </div>
                                        <input type="submit" class="btn btn-primary mr-2" name="submit" id="">

                                    </form>
                                </div>
                            </div>
                        </div>

                        <%- include('footer') %>